@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    overflow-x: hidden;
    width: 100vw;
    font-family: 'Public Sans', sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-color: hsl(0, 0%, 100%);
    padding: 5px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100vw;
    z-index: 2;
}

.navigation li {
    display: inline-block;
}

.navigation li a {
    position: relative;
    margin-left: 20px;
    color: hsl(233, 8%, 62%);
}

.navigation li a::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    width: 0;
    height: 4px;
    background: hsl(233, 8%, 62%);
    transition: all .5s;
}

.navigation li a:hover::after {
    width: 100%;
}

.btn_toggle {
    display: none;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.btn_invite {
    border: none;
    outline: none;
    all: unset;
    width: 7em;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: hsl(0, 0%, 100%);
    margin: 20px 0;
    padding: 10px 40px;
    border-radius: 40px;
    cursor: pointer;
}

span,
p {
    color: hsl(233, 8%, 62%);
}



.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45vw;
    background-color: hsl(0, 0%, 98%);
}

.details .intro {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 100px 50px;
}



.intro h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 25%;
    background-position-y: -10%;
}

.mobile img {
    /* width: 100%; */
    /* height: 100%; */
    transform: translate(140px, -50px);
    height: 70rem;
    /* overflow-x: hidden; */
}



.reason {
    background-color: hsl(220, 16%, 96%);
    padding: 100px 50px;
}

.reason-details {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 45vw;
}

.reason-details h1 {
    font-size: 40px;
    margin: 20px 0;
}

.reason-details p {
    color: hsl(233, 8%, 62%);
}

.reason .reason_list {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
}

.reason_list>div img {
    padding: 10px 0;
}

.reason_list>div h2 {
    padding: 15px 0;
}

.article {
    padding: 100px, 50px;
    background: hsl(0, 0%, 98%);
}

.articles {
    margin: 70px;
}

.articles h1 {
    font-size: 35px;
    margin-bottom: 30px;
    /* margin-left: 70px; */
}

.article-list {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.article-card img {
    width: 100%;
    width: 200px;
    padding-bottom: 15px;
}

.article-card h4 {
    padding: 10px 0;
}

.card-body {
    width: 100%;
    /* width: 190px; */
}

footer {
    background-color: hsl(233, 26%, 24%);
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}

.foot-left {
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
}

footer ul {
    list-style: none;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.social-media .foot-logo {
    padding-bottom: 20px;
}

.social-media .social-list {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
}

.foot-nav-1 li,
.foot-nav-2 li {
    margin: 10px 0;
}

.foot-nav-1 li a,
.foot-nav-2 li a {
    color: hsl(220, 16%, 96%);
    font-size: 20px;
}

.foot-right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.foot-right h4 {
    color: hsl(233, 8%, 62%);
}

@media screen and (max-width: 765px) {

    header {
        padding: 30px 40px;
    }

    .navigation {
        top: 100px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: hsl(0, 0%, 100%);
        width: 80%;
        padding: 40px;
        border-radius: 10px;
        text-align: center;
        opacity: 0;
        /* transition: all .5s ease-in-out; */
    }

    header .navigation li {
        margin: 20px 0;
    }

    header .navigation li a {
        color: hsl(233, 26%, 24%);
        font-weight: 900;
        font-size: 20px;
    }

    .navigation li a {
        margin: 0;
    }

    .navigation li a::after {
        bottom: -20px;
    }

    header .btn_invite {
        display: none;
    }

    .active {
        opacity: 1;
    }

    header .btn_toggle {
        display: block;
    }

    .details {
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        background: hsl(220, 16%, 96%);

    }

    .intro {
        width: 100%;
        transform: translate(0);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }



    .intro p {
        font-size: 20px;
    }

    .mobile {
        background-size: 100%;
        background-position-x: 70px;
        background-position-y: 30px;
        /* overflow: hidden; */
    }

    .mobile img {
        width: 90%;
        transform: translate(0, -90px);
        /* overflow-x: hidden; */
    }



    .reason {
        padding: 40px;
        width: 100vw;
    }

    .reason .reason_list {
        flex-direction: column;
    }

    .reason div {
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .articles {
        flex-direction: column;
    }

    .article-list {
        flex-direction: column;
    }

    .article-list .article-card {
        width: 100%;
    }

    .article-card img {
        height: 300px;
    }

    .article-card .card-body {
        padding: 10px 20px 40px 20px;
    }

    .article div {
        width: 90%;
        margin: auto;
        text-align: center;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

    .foot-left {
        flex-direction: column;
    }

    .foot-nav-1,
    .foot-nav-2 {
        text-align: center;
    }

    .foot-nav-1 li,
    .foot-nav-2 li {
        margin-top: 20px 0;
    }

    .foot-nav-2 {
        margin-top: -20px;
    }

    .foot-right {
        justify-content: center;
        align-items: center;
    }

    .foot-right h4 {
        font-size: 20px;
    }




}